<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="ExtraClass" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-IVLIUQQ; Database=ProgramingClassManagement;Initial Catalog=MyPOS; Trusted_Connection=Yes" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>